@media (min-width: 1440px) {
  /* MAIN */

  /* SECOND SECTION */

  .hero__ss-article-container {
    @include flex-center-center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .hero__ss-article {
    justify-content: flex-start;

    h1 {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: 600;
      font-family: "Lyon", Georgia;
    }

    p {
      display: inline-block;
      text-align: initial;
    }
  }

  /* MAIN AREAS */
  .slider {
    width: 50%;
  }

  /* MAIN AREAS ADMINISTRATIVO*/

  .hero__adm {
    img {
      @include areas-img;

      width: 40%;
    }
  }

  .hero__adm-container {
    @include areas-text;

    width: 40%;

    ul {
      li {
        br {
          display: none;
        }
      }
    }
  }

  /* MAIN AREAS CONTRATOS*/

  .hero__con {
    img {
      @include areas-img;

      width: 40%;
    }
  }

  .hero__con-container {
    @include areas-text;

    width: 40%;
  }

  /* MAIN AREAS FAMILIA*/

  .hero__fam {
    img {
      @include areas-img;

      width: 40%;
    }
  }

  .hero__fam-container {
    @include areas-text;

    width: 40%;
  }

  /* MAIN AREAS LABORAL*/

  .hero__lab {
    img {
      @include areas-img;

      width: 40%;
    }
  }

  .hero__lab-container {
    @include areas-text;

    width: 40%;
  }

  /* MAIN AREAS PENAL*/

  .hero__pen {
    img {
      @include areas-img;

      width: 40%;
    }
  }

  .hero__pen-container {
    @include areas-text;

    width: 40%;
  }

  /* MAIN AREAS TRIBUTARIO*/

  .hero__tri {
    img {
      @include areas-img;

      width: 40%;
    }
  }

  .hero__tri-container {
    @include areas-text;

    width: 40%;
  }

  /* MAIN CONTACTO */
  .hero__contact-form {
    width: 60%;
  }
}
