/*MAIN PROFESIONALES*/
.hero__lawyers {
  @include flex-center-center;
  flex-direction: column;

  h1 {
    @include title;
    margin-bottom: 40px;
  }
}

.hero__lawyers-title {
  @include pro-title;

  width: 100%;

  margin-top: 25px;

  text-align: center;
}

.hero__lawyers-title {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: -20px;

    display: inline-block;
    background: #000;
    width: 30%;
    height: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 45px;

    display: inline-block;
    background: #000;
    width: 30%;
    height: 2px;
  }
}

.hero__partners {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 85%;

  margin-top: 50px;
  margin-bottom: 25px;

  row-gap: 75px;

  div {
    &:first-child {
      @include pro-card;
    }

    &:nth-child(2) {
      @include pro-card;
    }

    &:last-child {
      @include pro-card;
    }
  }
}

.hero__associates {
  @extend .hero__partners;
}
